/* [project]/public/assets/css/flaticon.css [app-client] (css) */
@font-face {
  font-family: Flaticon;
  src: url("../media/Flaticon.302c1190.woff2") format("woff2"), url("../media/Flaticon.3f6f560b.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-map:before {
  content: "";
}

.flaticon-mail:before {
  content: "";
}

.flaticon-call-answer:before {
  content: "";
}

.flaticon-chat:before {
  content: "";
}

.flaticon-left-arrow:before {
  content: "";
}

.flaticon-right-arrow:before {
  content: "";
}

.flaticon-back:before {
  content: "";
}

.flaticon-next:before {
  content: "";
}

.flaticon-play-button:before {
  content: "";
}

.flaticon-play-button-1:before {
  content: "";
}

.flaticon-upload:before {
  content: "";
}

.flaticon-back-1:before {
  content: "";
}

.flaticon-responsive:before {
  content: "";
}

.flaticon-add:before {
  content: "";
}

.flaticon-play-button-2:before {
  content: "";
}

.flaticon-android:before {
  content: "";
}

.flaticon-fire:before {
  content: "";
}

.flaticon-layers:before {
  content: "";
}

.flaticon-computer:before {
  content: "";
}

.flaticon-chip:before {
  content: "";
}

.flaticon-cogwheels:before {
  content: "";
}

.flaticon-support:before {
  content: "";
}

.flaticon-web:before {
  content: "";
}

.flaticon-headset:before {
  content: "";
}

.flaticon-facebook:before {
  content: "";
}

.flaticon-drop-of-liquid:before {
  content: "";
}

.flaticon-drop:before {
  content: "";
}

.flaticon-placeholder:before {
  content: "";
}

.flaticon-shield:before {
  content: "";
}

.flaticon-fountain-pen:before {
  content: "";
}

.flaticon-fountain-pen-1:before {
  content: "";
}

.flaticon-settings:before {
  content: "";
}

.flaticon-phone-call:before {
  content: "";
}

.flaticon-call:before {
  content: "";
}

.flaticon-settings-1:before {
  content: "";
}

.flaticon-placeholder-1:before {
  content: "";
}

.flaticon-pen:before {
  content: "";
}

.flaticon-analytics:before {
  content: "";
}

.flaticon-monitor:before {
  content: "";
}

.flaticon-email:before {
  content: "";
}

.flaticon-speech-bubble:before {
  content: "";
}

.flaticon-suitcase:before {
  content: "";
}

.flaticon-communications:before {
  content: "";
}

.flaticon-cash:before {
  content: "";
}

.flaticon-twitter:before {
  content: "";
}

.flaticon-twitter-2:before {
  content: "";
}

.flaticon-instagram-logo:before {
  content: "";
}

.flaticon-instagram-1:before {
  content: "";
}

.flaticon-whatsapp-1:before {
  content: "";
}

.flaticon-linkedin-2:before {
  content: "";
}

.flaticon-twitter-1:before {
  content: "";
}

.flaticon-facebook-3:before {
  content: "";
}

.flaticon-whatsapp-2:before {
  content: "";
}

.flaticon-xiaomi:before {
  content: "";
}

.flaticon-odnoklassniki:before {
  content: "";
}

.flaticon-pinterest:before {
  content: "";
}

.flaticon-pinterest-1:before {
  content: "";
}

.flaticon-wifi:before {
  content: "";
}

.flaticon-light-bulb:before {
  content: "";
}

.flaticon-project-management:before {
  content: "";
}

.flaticon-monitor-1:before {
  content: "";
}

.flaticon-camera:before {
  content: "";
}

.flaticon-user:before {
  content: "";
}

.flaticon-advertising:before {
  content: "";
}

.flaticon-select:before {
  content: "";
}

.flaticon-snowflake:before {
  content: "";
}

.flaticon-snowflake-1:before {
  content: "";
}

.flaticon-travel-agency:before {
  content: "";
}

.flaticon-bauble:before {
  content: "";
}

.flaticon-temporary-agency:before {
  content: "";
}

.flaticon-star:before {
  content: "";
}

.flaticon-snow-globe:before {
  content: "";
}

.flaticon-christmas-tree:before {
  content: "";
}

.flaticon-gift:before {
  content: "";
}

.flaticon-mortgage:before {
  content: "";
}

.flaticon-monitoring:before {
  content: "";
}

.flaticon-network-1:before {
  content: "";
}

.flaticon-neural:before {
  content: "";
}

.flaticon-networking:before {
  content: "";
}

.flaticon-cloud-computing:before {
  content: "";
}

.flaticon-cloud-computing-1:before {
  content: "";
}

.flaticon-microchip:before {
  content: "";
}

.flaticon-social-care:before {
  content: "";
}

.flaticon-help:before {
  content: "";
}

.flaticon-begging:before {
  content: "";
}

.flaticon-customer-service:before {
  content: "";
}

.flaticon-support-2:before {
  content: "";
}

.flaticon-support-3:before {
  content: "";
}

.flaticon-customer-service-1:before {
  content: "";
}

.flaticon-customer-support:before {
  content: "";
}

.flaticon-headphones:before {
  content: "";
}

.flaticon-social-care-1:before {
  content: "";
}

.flaticon-care:before {
  content: "";
}

.flaticon-user-1:before {
  content: "";
}

.flaticon-phone:before {
  content: "";
}

.flaticon-search:before {
  content: "";
}

.flaticon-facebook-4:before {
  content: "";
}

.flaticon-pin:before {
  content: "";
}

.flaticon-user-2:before {
  content: "";
}

.flaticon-internet:before {
  content: "";
}

.flaticon-user-3:before {
  content: "";
}

.flaticon-chat-1:before {
  content: "";
}

.flaticon-team:before {
  content: "";
}

.flaticon-connection:before {
  content: "";
}

.flaticon-bar-chart:before {
  content: "";
}

.flaticon-money:before {
  content: "";
}

.flaticon-file:before {
  content: "";
}

.flaticon-linkedin-3:before {
  content: "";
}

.flaticon-pinterest-2:before {
  content: "";
}

.flaticon-google-browser:before {
  content: "";
}

.flaticon-gmail-1:before {
  content: "";
}

.flaticon-gmail-3:before {
  content: "";
}

.flaticon-vimeo:before {
  content: "";
}

.flaticon-vimeo-2:before {
  content: "";
}

.flaticon-skype:before {
  content: "";
}

.flaticon-skype-1:before {
  content: "";
}

.flaticon-skype-2:before {
  content: "";
}

.flaticon-skype-3:before {
  content: "";
}

.flaticon-google-plus-logo:before {
  content: "";
}

.flaticon-like:before {
  content: "";
}

.flaticon-clock:before {
  content: "";
}

.flaticon-loupe:before {
  content: "";
}

.flaticon-money-1:before {
  content: "";
}

.flaticon-hand-shake:before {
  content: "";
}

.flaticon-team-1:before {
  content: "";
}

.flaticon-money-2:before {
  content: "";
}

.flaticon-man:before {
  content: "";
}

.flaticon-value:before {
  content: "";
}

.flaticon-share:before {
  content: "";
}

.flaticon-time:before {
  content: "";
}

.flaticon-school:before {
  content: "";
}

.flaticon-chart:before {
  content: "";
}

.flaticon-data:before {
  content: "";
}

.flaticon-photo:before {
  content: "";
}

.flaticon-internet-1:before {
  content: "";
}

.flaticon-money-3:before {
  content: "";
}

.flaticon-payment:before {
  content: "";
}

.flaticon-pin-1:before {
  content: "";
}

.flaticon-time-1:before {
  content: "";
}

.flaticon-idea:before {
  content: "";
}

.flaticon-download:before {
  content: "";
}

.flaticon-growth:before {
  content: "";
}

.flaticon-multimedia:before {
  content: "";
}

.flaticon-network-2:before {
  content: "";
}

.flaticon-next-1:before {
  content: "";
}

.flaticon-origami:before {
  content: "";
}

.flaticon-share-1:before {
  content: "";
}

.flaticon-clock-1:before {
  content: "";
}

.flaticon-refresh:before {
  content: "";
}

.flaticon-avatar:before {
  content: "";
}

.flaticon-support-4:before {
  content: "";
}

.flaticon-cursor:before {
  content: "";
}

.flaticon-brain:before {
  content: "";
}

.flaticon-laptop:before {
  content: "";
}

.flaticon-arrow:before {
  content: "";
}

.flaticon-mortarboard:before {
  content: "";
}

.flaticon-avatar-1:before {
  content: "";
}

.flaticon-chat-2:before {
  content: "";
}

.flaticon-question:before {
  content: "";
}

.flaticon-test:before {
  content: "";
}

.flaticon-doctor:before {
  content: "";
}

.flaticon-support-5:before {
  content: "";
}

.flaticon-map-1:before {
  content: "";
}

.flaticon-eye:before {
  content: "";
}

.flaticon-money-4:before {
  content: "";
}

.flaticon-world:before {
  content: "";
}

.flaticon-school-1:before {
  content: "";
}

.flaticon-chat-3:before {
  content: "";
}

.flaticon-idea-1:before {
  content: "";
}

.flaticon-support-6:before {
  content: "";
}

.flaticon-diamond:before {
  content: "";
}

.flaticon-time-2:before {
  content: "";
}

.flaticon-bag:before {
  content: "";
}

.flaticon-contract:before {
  content: "";
}

.flaticon-report:before {
  content: "";
}

.flaticon-folder:before {
  content: "";
}

.flaticon-truck:before {
  content: "";
}

.flaticon-document:before {
  content: "";
}

.flaticon-plane:before {
  content: "";
}

.flaticon-time-3:before {
  content: "";
}

.flaticon-trash:before {
  content: "";
}

.flaticon-pin-2:before {
  content: "";
}

.flaticon-think:before {
  content: "";
}

.flaticon-idea-2:before {
  content: "";
}

.flaticon-download-1:before {
  content: "";
}

.flaticon-bell:before {
  content: "";
}

.flaticon-lock:before {
  content: "";
}

.flaticon-upload-1:before {
  content: "";
}

.flaticon-cinema:before {
  content: "";
}

.flaticon-goal:before {
  content: "";
}

.flaticon-work:before {
  content: "";
}

.flaticon-design:before {
  content: "";
}

.flaticon-search-1:before {
  content: "";
}

.flaticon-food:before {
  content: "";
}

.flaticon-alert:before {
  content: "";
}

.flaticon-brain-1:before {
  content: "";
}

.flaticon-book:before {
  content: "";
}

.flaticon-time-4:before {
  content: "";
}

.flaticon-shield-1:before {
  content: "";
}

.flaticon-time-5:before {
  content: "";
}

.flaticon-man-1:before {
  content: "";
}

.flaticon-brain-2:before {
  content: "";
}

.flaticon-water:before {
  content: "";
}

.flaticon-content:before {
  content: "";
}

.flaticon-data-1:before {
  content: "";
}

.flaticon-like-1:before {
  content: "";
}

.flaticon-time-6:before {
  content: "";
}

.flaticon-sign:before {
  content: "";
}

.flaticon-book-1:before {
  content: "";
}

.flaticon-adjust:before {
  content: "";
}

.flaticon-menu:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-eye-1:before {
  content: "";
}

.flaticon-clock-2:before {
  content: "";
}

.flaticon-share-2:before {
  content: "";
}

.flaticon-fingerprint:before {
  content: "";
}

.flaticon-signal:before {
  content: "";
}

.flaticon-lock-1:before {
  content: "";
}

.flaticon-water-1:before {
  content: "";
}

.flaticon-code:before {
  content: "";
}

.flaticon-repeat:before {
  content: "";
}

.flaticon-map-2:before {
  content: "";
}

.flaticon-message:before {
  content: "";
}

.flaticon-network-3:before {
  content: "";
}

.flaticon-more:before {
  content: "";
}

.flaticon-random:before {
  content: "";
}

.flaticon-sign-1:before {
  content: "";
}

.flaticon-mail-1:before {
  content: "";
}

.flaticon-adjust-1:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_flaticon_css_f9ee138c._.single.css.map*/